$whiteColoe: #fff;
$opa7Color: rgba(255, 255, 255, 0.7);
$bg-src: url('~@/img/home/bg.jpg');
$logo-src: url('~@/img/logo.png');
$container-width: 1260px;
$button-bg-color: #409EFF;
$topTabHeight: 64px;
$containerWidth: 1200px;
$boxBorder: 1px solid #dce4ef;
$norFontColor: #374064;
