  .home-header {
    width: 100%;
    height: 76px;
    display: flex;
    padding-top: 18px;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .home-logo {
    width: 133px;
    height: 59px;
    color: transparent;
    background-image: $logo-src;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
