.add-app-mange-content {
  padding: 10px 30px 20px;
  .tips {
    height: 50px;
    .el-alert__title {
      font-size: 16px;
      color: #e86d62;
    }
  }
  .app-form {
    margin-top: 30px;
    .app-cancle-btn {
      margin-left: 80px;
    }
  }
}
